<div class= "pages">
<div class= "top">
<div class = "chapter"> Chapter 1: Lorem Ipsum</div>
  <div class = "pagination">1</div>
    
  </div>

  <div class = "cont">
<div class="newpara">
<p class="author">written by <br> Charles Dickens</p>
<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempor magna dolor, ut tincidunt nisl feugiat ut. Integer a felis scelerisque, dapibus augue at, gravida mauris. Nulla dictum ante in mi fringilla fringilla. Quisque sit amet placerat erat, eu pharetra nibh. Aliquam nec bibendum libero. Aenean ornare finibus felis, sed sagittis arcu finibus nec. Quisque vestibulum urna ut neque faucibus feugiat. Praesent sit amet enim mi. Nam tincidunt sed libero at lobortis. </p>
</div>

 <div class="newpara">
<p class="author">written by <br>
Doran Hallþórr
</p>
<p class="text">Cras purus enim, consequat ac ipsum at, elementum pulvinar risus. Vestibulum sed mauris efficitur odio rhoncus pharetra. Etiam sagittis dolor vitae felis auctor pretium. Ut sit amet suscipit risus. Donec pretium commodo mi, ac volutpat neque sodales at. Vestibulum at sagittis purus. Proin elementum feugiat felis, sed consequat lectus convallis sed. Phasellus tristique posuere congue. Nam pretium velit est. Donec auctor risus eu sem pulvinar, quis vestibulum nibh pharetra. Mauris vel orci ante. Maecenas lobortis fringilla gravida. Sed venenatis venenatis diam eu pellentesque. </p>
</div>
         <div class="newpara">
<p class="author">written by <br>

Michael Ovidio
</p>
<p class="text"> Morbi nec eros sed eros cursus placerat in a lacus. Nunc velit metus, pretium ut placerat ac, tincidunt a tellus. Nulla nec nulla condimentum nibh vulputate pretium. Aliquam suscipit convallis lectus eu imperdiet. Vivamus imperdiet mattis orci vitae faucibus. Nulla mattis lobortis nibh, at vehicula enim lacinia a. Fusce non volutpat elit. Cras accumsan vel nunc sit amet scelerisque. Aliquam viverra convallis metus, at rutrum purus tempor sit amet. Sed ac sagittis odio. Integer ipsum elit, commodo at nunc non, tristique condimentum nibh. Fusce luctus odio felis. Quisque eu nisi velit. Phasellus commodo sit amet massa volutpat egestas. Etiam dapibus suscipit velit, at laoreet sapien. </p>
</div>
         <div class="newpara">
<p class="author">written by <br>

Michael Ovidio
</p>
<p class="text"> Morbi nec eros sed eros cursus placerat in a lacus. Nunc velit metus, pretium ut placerat ac, tincidunt a tellus. Nulla nec nulla condimentum nibh vulputate pretium. Aliquam suscipit convallis lectus eu imperdiet. Vivamus imperdiet mattis orci vitae faucibus. Nulla mattis lobortis nibh, at vehicula enim lacinia a. Fusce non volutpat elit. Cras accumsan vel nunc sit amet scelerisque. Aliquam viverra convallis metus, at rutrum purus tempor sit amet. Sed ac sagittis odio. Integer ipsum elit, commodo at nunc non, tristique condimentum nibh. Fusce luctus odio felis. Quisque eu nisi velit. Phasellus commodo sit amet massa volutpat egestas. Etiam dapibus suscipit velit, at laoreet sapien. </p>
</div>
     <div class="newpara">
<p class="author">written by <br>

Michael Ovidio
</p>
<p class="text"> Morbi nec eros sed eros cursus placerat in a lacus. Nunc velit metus, pretium ut placerat ac, tincidunt a tellus. Nulla nec nulla condimentum nibh vulputate pretium. Aliquam suscipit convallis lectus eu imperdiet. Vivamus imperdiet mattis orci vitae faucibus. Nulla mattis lobortis nibh, at vehicula enim lacinia a. Fusce non volutpat elit. Cras accumsan vel nunc sit amet scelerisque. Aliquam viverra convallis metus, at rutrum purus tempor sit amet. Sed ac sagittis odio. Integer ipsum elit, commodo at nunc non, tristique condimentum nibh. Fusce luctus odio felis. Quisque eu nisi velit. Phasellus commodo sit amet massa volutpat egestas. Etiam dapibus suscipit velit, at laoreet sapien. </p>
</div>
     
    
</div>


<div class= "bottom">
  <div class = "pagination">1</div>
  </div>
  
  </div>