// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.pages {
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: $textcolor1;
  color: $textcolor2;
  font-size: 0.90em;
  position: relative;
}

.top {
  padding: 50px 50px 20px 50px;
  box-sizing: border-box;
}

.bottom {
  padding-top: 50px;
  box-sizing: border-box;
  position: relative;
  left: 0;
  right: 0;
}

.page {
  float: right;
  font-style: italic;
}

.pagin {
  font-style: italic;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  a:visited {
    color: $textcolor1;
  }
  a {
    padding: 5px 20px 5px 20px;
    background-color: $color1;
    color: $textcolor1;
    margin-right: 5px;
  }
  a:hover {
    background-color: $maincolor;
  }
}

.cont {
  background-color: $color3;
  padding: 10px 50px 50px 50px;
}
