// Place all the styles related to the Paragraphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.cont { padding: 10px 50px 50px 50px;}

.newpara {
  margin: 0 0px -30px 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.text { max-width: 700px; }

.author {
  box-sizing: border-box;
  padding-right: 15px;
  width: 200px;
  text-align: right;
  color: $color1;
}

.field {
  text-align: center;
  label { color: $textcolor1; }
  textarea {width: 800px; height: 200px; }
}

.actions {
  text-align: center;
  input {
    padding: 10px 30px 10px 30px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: $textcolor1;
    text-shadow: 1px 1px 1px $color1;
  }
  input:hover {
    background-color: $maincolor;
  }
}

.instructions {
  border: $smallerborder;
  max-width: 1000px;
  p {
    text-align: center;
    color: $textcolor1;
    font-size: 2em;
    padding-bottom: 30px;
    text-shadow: 1px 1px 0 rgba(140, 140, 140, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.67);
  }
  .h_field {
    padding: 30px  0px 0px 0px;
    font-size: 3em;
  }
  a { color: $textcolor2; }
}

.pagination {
  .previous_page { color: $textcolor1; }
  .previous_page.disabled { color: #777; }
  .current { background: rgba(0, 0, 0, 0.1); }
  .next_page { color: $textcolor1; }
  .next_page.disabled { color: #777; }
  text-align: center;
  a, span {
    padding: 5px 10px 5px 10px;
    background-color: $color2;
  }
}

.votebutton {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  position: relative;
  bottom: 30px;
  right: 50px;
  a {
    color: $textcolor2;
    margin-right: 5px;
    margin-left: 5px;
  }
  input { margin-right: 10px; }
}

@media all and (max-width: 600px) {
  .newpara {
    flex-wrap: wrap;
    justify-content: space-around;
    .author { text-align: center; }
  }
  .cont { padding: 0px; }
}