body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: whitesmoke;
  text-decoration: none;
  &:visited {
    color: darken(whitesmoke, 25%);
  }

}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
  
  .h_field{
    color:whitesmoke;
    text-align: center;
    font-size: 5em;
    padding: 30px  0px 30px 0px;
     text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
  }
  #min_char{
    
    color: darken(deepskyblue,40%);
    
    
  }
}

.notice {
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  padding: 5px 0 5px 0;
  border-top:2px solid rgba(0, 0, 0, 0.08);
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}
.alert{
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  padding: 5px 0 5px 0;
  border-top:2px solid rgba(0, 0, 0, 0.08);
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  
}

.links {

 color: whitesmoke;
  text-align: center;
  padding: 5px 0 5px 0;
  border-top:2px solid rgba(0, 0, 0, 0.08);
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  
}

.field_with_errors {

}

#error_explanation {
  max-width: 1000px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
@media all and (max-width: 600px) {
  .newpara{
 flex-wrap: wrap;
justify-content: space-around;
    .author{
     text-align: center; 
    }
  
}
  

}