@import 'variables';

body {

  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: whitesmoke;
  text-decoration: none;
  &:visited {
    color: darken($textcolor1, 25%);
  }

}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
  
  #min_char{color: darken($colororiginal,40%);}
}

.notice {
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  padding: 5px 0 5px 0;
  border-top:$smallborder;
  border-bottom: $smallborder;
}
.alert{
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  padding: 5px 0 5px 0;
  border-top:$smallborder;
  border-bottom: $smallborder;
  
}

.links {

 color: whitesmoke;
  text-align: center;
  padding: 5px 0 5px 0;
  border-top:$smallborder;
  border-bottom: $smallborder;
  
}

.field_with_errors {
background-color: rgba(256, 0, 0, 0.4);
}

#error_explanation {
  max-width: 1000px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  li {
    position: relative;
    font-size: 12px;
    text-align: left;
  }
}